<div class="container-fluid">
    @for (category of groupedCategories(); track category) {
    <h4 class="mt-4">{{ category }}</h4>
    @for (res of groupedResources()[category]; track res.id) {
        <div class="row">
            <div class="col-md-auto">
                <h6>{{ res.title }}</h6>
                <div class="alert alert-secondary overflow-x-auto white-space-nowrap icon-tooltip-wrapper"
                    (mouseenter)="hoveredId.set(res.id!)"
                    (mouseleave)="hoveredId.set(null)"
                    [class.text-success]="copiedId() === res.id"
                    (click)="copy(res.command, res.id!)"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    title="Copy"
                    >
                        <code>{{ res.command }}</code>
                    </div>
                </div>
            </div>
        }
    
    }
</div>