/* You can add global styles to this file, and also import other style files */
.common-section {
    height: 100vh;
    min-height: 480px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}
