.world-clock-container {
//   max-width: 100%;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
}

.clock-display {
  margin-top: 20px;
  text-align: center;
}

.time {
  font-size: 32px;
  font-weight: bold;
}

.date {
  font-size: 18px;
  margin-top: 6px;
}
