:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #020617;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
}

.date-diff-card {
  padding: 2rem;
  border-radius: 16px;
}

h2 {
  text-align: center;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #9ca3af;
  margin: 0.5rem 0 1.5rem;
}

.inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  label {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #9ca3af;
  }

  input {
    padding: 0.55rem;
    // border-radius: 8px;
    // border: 1px solid #1e293b;
    // background: #020617;
    // color: #e5e7eb;
  }
}

.result {
  padding-top: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
